.DS_Store
packages/
Library/
Temp/
Assets/UnityTestTools/Examples/
Assets/UnityTestTools/Examples.meta
Assets/ShaderForge/
Assets/ShaderForge.meta
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs
*.sublime-project
*.sublime-workspace
Assets/Haste/Editor/InternalResources/Recommendations.asset*
